.item a {
  color: black;
}

a.active {
  display: grid;
  /* justify-content: flex-start; */
  align-items: center;
  grid-template-columns: 30px 1fr;
}

a.active::before {
  content: ">";
  font-size: 20px;
  margin-right: 10px;
}
