<div class="container">
  <div
    class="nav w-12 h-4rem border-bottom-2 border-300 flex align-items-center justify-content-between"
  >
    <a class="no-underline text-black-alpha-90" routerLink="/">Angular Email</a>

    <div class="flex justify-content-around sm:w-5 align-items-center">
      <ng-container *ngIf="signedin$ | async">
        <a
          routerLink="inbox"
          class="no-underline font-bold ng-star-inserted no-underline text-gray-500"
          routerLinkActive="active"
          >Inbox</a
        >
        <p-splitButton
          label="Secondary"
          [model]="items"
          class="w-9"
          [label]="username + '@angular-email.com'"
          raised
          text
          severity="secondary"
        />
       
      </ng-container>
      <ng-container *ngIf="!(signedin$ | async)">
        <a
          routerLink=""
          class="no-underline text-black-alpha-90"
          routerLinkActive="active"
          >Sign In</a
        >

        <a
          routerLink="/signup"
          class="no-underline text-black-alpha-90"
          routerLinkActive="active"
          >Sign Up</a
        >
      </ng-container>
    </div>
  </div>
  <router-outlet />
</div>
